@use "reset.scss";
@use "fonts.scss";

body{
	font-family: "Cinzel Decorative";
	opacity: 0;
	transition: transform 1s ease 0.2s;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
	transform: translate(0px, -30px);
	}
.container {
    max-width: 825px; //max-width: 825px
	flex: 1 1 auto;
	margin: 168px auto 0;
	@media(min-width: 825px){
    max-width: 1125px;
	}
}
.battle {

		&__conclution {
			font-size: 56px;
			letter-spacing: 12.5px;
			color: #078d00;
			text-transform: uppercase;
			text-align: center;
			position: relative;
			z-index: -1;
			padding: 0px 15px;
		}

		&__results {
			position: relative;
			&__container{
				max-width: 518px; //max-width: 1125px
				@media(min-width: 1125px){
					max-width: 618px;
				}
				margin: 0 auto;
			}
			&__row{
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
}

.battle__conclution-inspirational-quote_fade-down{
	transform: translate(0px, 0px);
	opacity: 1;
}

.victory-set_color{
	color: #078d00;
}
.loss-set_color{
	color: #e22a29;
}
.tie-set_color{
	color: #666666;
}

.inspirational-quote {
	font-size: 27px;
	line-height: 1.4;
	letter-spacing: 1.2px;
	font-weight: 700;
	color: #078d00;
	text-align: center;
	text-transform: lowercase;
	margin: 34px auto 0px auto;
	width: 800px;
	position: relative;
	z-index: -1;
	max-height: 75px;
	padding: 0px 15px;
	overflow: scroll;
}
.bigger-letter-spacing{
	letter-spacing: 8px;
	text-transform: uppercase;
}
.pies {
	display: flex;
		&__amount {
			font-size: 65.7px;
			font-family: "Anton";
			margin: 0px 14px 0px 0px;
		}
	}
	.streak {
		display: flex;
		margin: 0px 0px 31px 0px;
		&__fire-flame {
			margin: 0px 14px 0px 0px;
		}
		
		&__amount {
			font-size: 65.7px;
			font-family: "Anton";
			color: #e22a29;
			align-self: center;
		}
}
.bought-items {
	position: absolute;
	right: -109px;
	top: 0;
}
.remaining{
    font-family: "Anton";
    font-size: 22px;
    color: #078d00;
    text-align: center;
	display: inline-block;
	margin: 8px 0px;

}

.end-game-navigation-buttons{
	&__container{
		position: relative;
		max-width: 854px;
		margin: 0 auto;
	}
}
.return__main-page, .play-again{
	text-transform: uppercase;
	transition: all 0.6s ease 0s;
	font-size: 23px;
	color: #ffffff;
	width: 324px;
	height: 140px;
	padding: 4px;
	letter-spacing: 11px;
	line-height: 1.4;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 80px;
	text-align: center;
	transition: all 0.5s ease 0s;
}
.return {

		&__main-page {
				flex: 0 1 50%;
				font-weight: 300;
				background-color: #000000;
				margin: 0px 0px 15px 0px;
				color: #ffffff;
				&:hover{
					background-color: #ffffff;
					color: #000000;
					text-decoration: underline;
					box-shadow: 0px 5px 5px #000000;
				}
				&:active{
					background-color: #000000;
					color: #ffffff;
					transform: translate3d(0, 3.5px, 1px);
					box-shadow: 0px 8px 8px #ffffff;
					transition: all 0.1s ease 0s;
				}
				@media(min-width: 540px){
					margin: 0 auto;
				}
			}
}


@keyframes lava-background-move {
	0%{
		background: linear-gradient(to right, #e22a29 0%, #f6b433 90%);
	}
	25%{
		background: linear-gradient(to right, #e22a29 18%, #f6b433 72%);
	}
	50%{
		background: linear-gradient(to right, #e22a29 36%, #f6b433 54%);

	}
	75%{
		background: linear-gradient(to right, #f6b433 36%, #e22a29 54%);

	}
	87.5%{
		background: linear-gradient(to right, #f6b433 18%, #e22a29 72%);
	}
	100%{
		background: linear-gradient(to right, #f6b433 0%, #e22a29 90%);
	}
}
.play-again {
	position: absolute;
	right: 0;
	background: linear-gradient(to right, #e22a29 0%, #f6b433 90%);
	animation: lava-background-move 0.5s 1
	normal 0s backwards;
	&:hover{
		animation: lava-background-move 0.5s 1
		normal 0s forwards;
			box-shadow: 0px 5px 5px #ac7810;
			text-decoration: underline;
	}
	&:active{
		box-shadow: 0px 8px 8px #ac7810;
		transform: translate3d(0, 3.5px, 1px);
	}
}
.fire-lava{
	transition: all 1s ease 0.2s;
	max-width: 100%;
	position: relative;
	z-index: -1;
	padding: 0px 0px 50% 0px;
	transform: translate(0, 240px);
	& img{
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		object-position: center;
		max-width: 100%;
		min-height: 286px;
	}
}
.fire-lava__risen{
	transform: translate(0,0px);
	transition-delay: 1s;
}
