@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:regular,700,900);
@import url(https://fonts.googleapis.com/css?family=Anton:regular);
@import url(https://fonts.googleapis.com/css?family=Comic+Neue:300,300italic,regular,italic,700,700italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #FFECAE;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.scenes .scene, .big-rocks__row, .rock-cave__row, .scenes1-fade-up, .big-rocks-fade-up, .rock-cave-fade-up, .defend__paper, .defend__rock, .defend__title, .footer, .scenes2-fade-up, .defend-row-fade-up, .defend-row-fade-up .defend__paper, .defend-row-fade-up .defend__title, .defend-row-fade-up .defend__rock, .footer-mountains-backround-fade-up, .cut__title, .cut__body, .scenes-3-fade-up, .cut__title-fade-up, .cut__body-fade-up, .scene-4__pie-exploded, .scene-4__footer {
  -webkit-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.scenes-2, .scenes-3, .scenes-4 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #FFECAE;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #FFECAE;
  font-family: "Cinzel Decorative";
  overflow-x: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main-page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.scenes-1 {
  opacity: 0;
}
.scenes-1__title {
  color: #FFFFFF;
  font-size: 114px;
  letter-spacing: 40px;
  text-align: center;
  position: relative;
  left: 30px;
  z-index: 2;
}
.scenes-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  opacity: 0;
}
.scenes-3 {
  opacity: 0;
}
.scenes-4 {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.big-rocks {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.big-rocks__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.big-rock-1, .big-rock-2 {
  position: relative;
  bottom: 64px;
}

.big-rock-1 {
  right: 80px;
}

.big-rock-2 {
  left: 80px;
}

.rock-cave__row {
  top: 350px;
  position: relative;
}

.rock-cave {
  max-width: 965px;
  bottom: 160px;
  height: 624px;
  margin: 0px auto;
  position: relative;
}
.rock-cave__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height: 100vh;
}
.rock-cave img {
  width: 100%;
  height: 100%;
}

.pebbles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.pebbles-left, .pebbles-right {
  max-width: 676px;
  height: 279px;
}
.pebbles-left img, .pebbles-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.pebbles-right {
  position: relative;
  top: 100px;
}

.pebbles-left {
  position: relative;
  top: 100px;
}

.scenes1-fade-up {
  opacity: 1;
}

.big-rocks-fade-up .big-rock-1 {
  -webkit-transform: translate(35px, 50px);
          transform: translate(35px, 50px);
}
.big-rocks-fade-up .big-rock-2 {
  -webkit-transform: translate(-35px 50px);
          transform: translate(-35px 50px);
}

.rock-cave-fade-up {
  top: 80px;
}

.defend__row {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.defend__paper {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(50%, 0px);
          transform: translate(50%, 0px);
}
.defend__rock {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}
.defend__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(0px, 250px);
          transform: translate(0px, 250px);
  font-size: 128px;
  letter-spacing: 30px;
  text-transform: lowercase;
  opacity: 0;
}

.footer {
  -webkit-transform: translate(0px, 275px);
          transform: translate(0px, 275px);
}
.footer__mountains-background {
  width: 1200px;
  height: 400px;
}
.footer__mountains-background img {
  width: 100%;
  height: 100%;
}

.mountains-background-1 {
  position: absolute;
  right: 482.9px;
  width: 100%;
}

.mountains-background-2 {
  position: relative;
  left: 659.4px;
}

.scenes2-fade-up {
  opacity: 1;
}

.defend-row-fade-up .defend__paper {
  -webkit-transform: translate3d(-60px, 0px, -25px);
          transform: translate3d(-60px, 0px, -25px);
}
.defend-row-fade-up .defend__title {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.defend-row-fade-up .defend__rock {
  -webkit-transform: translate3d(60px, 0px, -25px);
          transform: translate3d(60px, 0px, -25px);
}

.footer-mountains-backround-fade-up {
  -webkit-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
}

.cut__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 65%;
}
.cut__title {
  position: relative;
  top: 75px;
  left: 220px;
  -webkit-transform: translate(33%, 0px);
          transform: translate(33%, 0px);
  font-size: 150px;
  letter-spacing: 80px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}
.cut__body {
  position: relative;
  top: 100px;
  -webkit-transform: translate(-33%, 0px);
          transform: translate(-33%, 0px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.scissors-2 {
  position: relative;
  top: 30px;
  left: 100px;
  max-width: 246.3px;
  height: 200.2px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.scissors-2 img {
  width: 100%;
  height: 100%;
}

.cut-paper {
  z-index: 2;
}

.scissors-1 {
  position: relative;
  bottom: 90px;
  right: 70px;
  max-width: 313.7px;
  height: 368.8px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.scissors-1 img {
  width: 100%;
  height: 100%;
}

.scenes-3-fade-up {
  opacity: 1;
}

.cut__title-fade-up, .cut__body-fade-up {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.scene-4__pie-exploded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transform: translate(0px, 25px);
          transform: translate(0px, 25px);
  opacity: 0;
}
.scene-4__pie {
  position: absolute;
  top: 55px;
  width: 330.7px;
  height: 257.4px;
}
.scene-4__pie img {
  width: 100%;
  height: 100%;
}
.scene-4__explosion {
  z-index: 1;
  left: -80px;
  top: -50px;
  max-width: 484.2px;
  min-height: 271.1px;
}
.scene-4__title {
  position: absolute;
  top: 100px;
  z-index: 2;
  font-size: 54.8px;
  color: #FFFFFF;
  font-family: "Comic Neue";
  -webkit-text-stroke: 3px #e22a29;
  -webkit-text-fill-color: white;
  font-weight: 700;
}
.scene-4__footer {
  font-weight: 600;
  color: white;
  -webkit-transform: translate(0px, 400px);
          transform: translate(0px, 400px);
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__title {
  position: absolute;
  font-size: 175px;
  -webkit-text-stroke: 4px #9b9b9b;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 1.4;
  letter-spacing: 30px;
}
.footer__explosion {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.footer__explosion img {
  width: 100%;
  height: 100%;
}

.scene-4__fade__up {
  opacity: 1;
}

.pie-exploded__fade__up {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.scene-4__footer__fade__up {
  -webkit-transform: translate(0px, 80px);
          transform: translate(0px, 80px);
}

.skip-arrows {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  display: none;
}
.skip-arrows__suggestion {
  font-size: 30px;
  -webkit-animation: animateArrows 1s infinite;
          animation: animateArrows 1s infinite;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.row__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes animateArrows {
  0% {
    position: relative;
    bottom: 50px;
    -webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
  }
  25% {
    position: relative;
    bottom: 37.5px;
    -webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
  }
  50% {
    position: relative;
    bottom: 25px;
    -webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
  }
  75% {
    position: relative;
    bottom: 12.5px;
    -webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
  }
  100% {
    position: relative;
    bottom: 0px;
    -webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
  }
}

@keyframes animateArrows {
  0% {
    position: relative;
    bottom: 50px;
    -webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
  }
  25% {
    position: relative;
    bottom: 37.5px;
    -webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
  }
  50% {
    position: relative;
    bottom: 25px;
    -webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
  }
  75% {
    position: relative;
    bottom: 12.5px;
    -webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
  }
  100% {
    position: relative;
    bottom: 0px;
    -webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
  }
}
.skip-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  bottom: 50px;
  -webkit-animation: animateArrows 1s infinite;
          animation: animateArrows 1s infinite;
}

.skip-arrow-left, .skip-arrow-right {
  position: relative;
  width: 15px;
  height: 70px;
  border-radius: 25px;
  background-color: #000000;
}

.skip-arrow-left {
  right: 49%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.skip-arrow-right {
  left: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-page {
  display: none;
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.main-page-bird:first-child {
  position: relative;
}
.main-page-bird:first-child img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-page-tree {
  position: relative;
}
.main-page-tree img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__main-page {
  -webkit-transform: translate(0, -40px);
          transform: translate(0, -40px);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.header__container {
  max-width: 1293px;
  margin: 0 auto;
  padding: 0px 15px;
}
.header__navbar {
  margin: 29px 0px 0px 0px;
}
@media (min-width: 28.1875em) {
  .header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 28.125em) {
  .header__row {
    display: -ms-grid;
    display: grid;
    row-gap: 40px;
    -ms-grid-columns: 1fr minmax(auto, 300px);
    grid-template-columns: 1fr minmax(auto, 300px);
    -ms-grid-rows: 1fr 40px 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .header__row > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .header__row > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .header__row > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .header__row > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .header__row .header__shop-cart {
    position: relative;
    bottom: 50px;
  }
  .header__row .how-much-pies__wrapper {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .header__row .how-much-pies__help {
    margin: 40px 0px 0px 0px;
  }
}
.header__shop-cart {
  width: 78px;
  height: 75px;
  -webkit-transition: fill 0.7s ease 0s;
  transition: fill 0.7s ease 0s;
  fill: #000000;
}
.header__shop-cart:hover {
  fill: #e22a29;
}
.header__shop-cart img {
  width: 100%;
  height: 100%;
}
.header__how-much-pies {
  height: 115px;
  overflow-x: auto;
  scrollbar-gutter: stable;
  position: relative;
}
@media (min-width: 28.1875em) {
  .header__how-much-pies {
    width: 230px;
  }
}
@media (max-width: 450px) {
  .header__how-much-pies {
    height: 115px;
  }
}
.header__how-much-pies__column {
  height: 100%;
}

.how-much-pies__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 35px;
  grid-template-columns: 1fr 35px;
  -ms-grid-rows: 1fr 35px;
  grid-template-rows: 1fr 35px;
  padding: 0px 25px 0px 0px;
}

.how-much-pies__wrapper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.how-much-pies__wrapper > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.how-much-pies__wrapper > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.how-much-pies__wrapper > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.how-much-pies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFFFFF;
  border: 7px solid #000000;
  border-radius: 66px;
  padding: 0px 31px;
  margin: 0px 10px 0px 0px;
}
.how-much-pies__help {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 19px;
  border-radius: 50%;
  padding: 25px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  color: #FFFFFF;
}
.how-much-pies__help:hover {
  text-decoration: underline;
}

@media (min-width: 34.4375em) {
  .how-much-pies__help {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 34.375em) {
  .how-much-pies__help {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }

  .how-much-pies {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    margin: 0px 0px 10px 0px;
  }
}
.pie-currency {
  -ms-flex-preferred-size: 94px;
      flex-basis: 94px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.pie-currency img {
  width: 100%;
  height: 100%;
}

@media (max-width: 450px) {
  .how-much-pies {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.pies-amount {
  font-size: 50px;
  font-family: "Anton";
  color: #FFA300;
}
@media (min-width: 28.1875em) {
  .pies-amount {
    font-size: 39px;
  }
}
@media (max-width: 20em) {
  .pies-amount {
    font-size: 39px;
  }
}

.main-page {
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.main-page__container {
  max-width: 1189px;
  margin: 0 auto;
  padding: 0px 15px;
}
.main-page__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
.main-page-button {
  width: 546px;
  height: 195px;
  margin: 36px 0px 0px 0px;
  border: 9px dashed #FFA300;
  background-color: #2B2828;
  color: #FFFFFF;
  stroke: #FFFFFF 31px;
  padding: 4px;
  font-size: 33px;
  letter-spacing: 2px;
  text-transform: lowercase;
  font-weight: 600;
  border-radius: 100px;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.main-page-button a {
  color: #FFFFFF;
}
.main-page-button:hover {
  border: 9px solid cyan;
  -webkit-box-shadow: 0 0 10px cyan;
          box-shadow: 0 0 10px cyan;
  text-decoration: underline;
}
.main-page-bird {
  position: absolute;
  top: 100px;
}
.main-page-bird:first-child {
  right: 100px;
}
.main-page-bird:last-child {
  left: 130px;
}

@media (max-width: 600px) {
  .main-page-bird {
    display: none;
  }
}
.scroll-disappear {
  overflow-y: unset;
}

.content__title {
  font-size: 3.3125rem;
  letter-spacing: 0.2264em;
  text-align: center;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
@media (min-width: 28.1875em) {
  .content__title {
    margin: 111px 0px 0px 0px;
  }
}
@media (max-width: 28.125em) {
  .content__title {
    font-size: 2.375rem;
  }
}

.decorations-and-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.decorated-brances {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 270px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
@media (max-width: 26.25em) {
  .decorated-brances {
    display: none;
  }
}

.decorated-branch {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  top: 50px;
}
.decorated-branch img {
  width: 100%;
  height: 100%;
}
.decorated-branch:first-child {
  position: relative;
  right: 40px;
  top: -40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.decorated-branch:last-child {
  position: relative;
  left: 135px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.trees-with-brids {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  z-index: -2;
  bottom: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  padding: 0px 15px;
}

.tree-and-bird:last-child {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.active-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.active-visible {
  opacity: 1;
}

.active .main-page {
  opacity: 1;
}
.active .header__main-page {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.active .content__title {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.active .decorated-brances {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
.active .trees-with-brids {
  opacity: 1;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

@media (max-width: 778px) {
  .header__container .decorated-branch, .main-page__container .decorated-branch {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-transform: translate(-435px, -25px);
            transform: translate(-435px, -25px);
  }
  .header__container .decorated-branch:first-child, .main-page__container .decorated-branch:first-child {
    -webkit-transform: translate(-435px, -10px);
            transform: translate(-435px, -10px);
  }
  .header__container .shop-cart, .main-page__container .shop-cart {
    margin: 0px 0px 0px 15px;
  }
}

@media (max-width: 28.125em) {
  .main-page-button {
    font-size: 1.875rem;
  }
}

@media (max-width: 1500px) {
  .decorated-branch:last-child {
    right: 40px;
  }
}

/* Swiper settings */
/* Swiper arrows */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 62px;
  font-weight: 900;
}

/* Swiper pagination */
.swiper-pagination {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #000000;
}

/* The main code */
.options-body {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
          transform: translate(0px, -50px);
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.load-options-website {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.battle {
  display: none;
}

.bold {
  font-weight: 700;
  text-decoration: underline;
  font-family: "Anton";
}

.explosion {
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
@media (max-width: 800px) {
  .wrapper {
    overflow-y: auto;
  }
}

.container {
  max-width: 990px;
  margin: 0 auto;
}

.title-and-moons {
  padding: 0px 30px;
}
@media (max-width: 1100px) {
  .title-and-moons {
    margin: 0px 0px 45px 0px;
  }
}

.moon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  height: 150px;
  z-index: -1;
}
.moon::before, .moon::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 24%;
  width: 10px;
  height: 10px;
  background-color: #FF0000;
  border-radius: 50%;
}
.moon-half {
  width: 194px;
  height: 195px;
  border-radius: 50%;
  background-color: #000000;
}
.moon .half-1 {
  position: relative;
  bottom: 25px;
}
.moon:last-child .half-2 {
  position: absolute;
  right: 35%;
  bottom: 12px;
  background-color: #FFECAE;
}
.moon .half-2 {
  position: absolute;
  left: 35%;
  width: 160px;
  aspect-ratio: 1;
  bottom: 21px;
  background-color: #FFECAE;
}
.moon:last-child {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.moon__dot {
  position: absolute;
  bottom: 70%;
  left: 12.5%;
  width: 10px;
  height: 10px;
  background-color: #FF0000;
  border-radius: 50%;
}
.moon__dot:nth-child(2) {
  bottom: 63%;
  left: 25%;
}

@media (max-width: 37.5em) {
  .moon:last-child {
    position: absolute;
    right: 0;
  }

  .title {
    position: absolute;
    padding: 0px 65px;
  }

  .moon {
    width: 100px;
    height: 160px;
  }

  .moon-half {
    width: 100px;
    height: 160px;
  }

  .half-2 {
    top: -49px;
    aspect-ratio: 1;
  }

  .navigation-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .bird {
    opacity: 0;
  }
}
.title-moons__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.title {
  justify-self: flex-end;
}

.title p {
  font-size: 26px;
  letter-spacing: 10px;
  margin: 13px 0px 0px 0px;
  line-height: 1.2;
  text-align: center;
  font-weight: 300;
}
@media (min-width: 757px) {
  .title p {
    font-size: 34px;
  }
}
@media (min-width: 660px) {
  .title p {
    line-height: 1.4;
  }
}
@media (max-width: 540px) {
  .title p {
    line-height: 1.4;
  }
}

.birds-standing {
  position: absolute;
  width: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bird-stand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.bird-stand:last-child {
  position: absolute;
  right: 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.branch {
  position: relative;
  right: 188px;
  bottom: 56px;
}

.bird {
  width: 129px;
  height: 144px;
  margin: 0px 0px 0px 20px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.bird img {
  width: 100%;
  height: 100%;
}

.swiper-scrollbar {
  display: none;
}

@media (max-width: 61.8125em) {
  .swiper {
    max-width: 700px;
    margin: 0 auto;
  }
}
.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 90px 15px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 540px) {
  .options {
    padding: 60px 0px 0px 0px;
    padding: 90px 15px 0px;
  }
}
@media (min-width: 61.875em) {
  .options__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.options__item-amount {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: 5;
  width: 30px;
  height: 30px;
  background-color: #e22a29;
  color: #FFFFFF;
  border-radius: 50%;
  font-size: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.options__option {
  position: relative;
  display: block;
  z-index: 2;
  width: 230px;
  min-height: 230px;
  border: 6px solid #000000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 20px 0px 0px;
}
.options__option .flipped {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.options__option input[type=radio] {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FFFFFF;
  border-radius: 50%;
}
.options__option input[type=radio]:checked::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #666666;
  vertical-align: middle;
  margin-right: 0;
}
.options__option:not(:last-child) {
  margin: 0px 67px 0px 0px;
}
.options__photo {
  min-width: 141px;
  height: 153px;
  pointer-events: none;
}
.options__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: visible;
}

.options__item-amount {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  font-size: 1.875rem;
  width: 40px;
  height: 40px;
  background-color: #e22a29;
  color: #FFFFFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 55px 15px;
}

.return__main-page {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-weight: 300;
  border-radius: 50px;
  font-size: 23px;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.options__return__main-page, .continue {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-weight: 300;
  border-radius: 50px;
  font-size: 36px;
  padding: 4px;
  text-transform: lowercase;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.options__return__main-page {
  background-color: #FFFFFF;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (min-width: 541px) {
  .options__return__main-page {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0px auto;
  }
}
.options__return__main-page a {
  color: #FFFFFF;
  text-transform: lowercase;
}
.options__return__main-page:hover {
  background-color: #000000;
  -webkit-box-shadow: 0px 10px 10px #ffffff;
          box-shadow: 0px 10px 10px #ffffff;
}
.options__return__main-page:hover a {
  color: #FFFFFF;
  text-decoration: underline;
}
.options__return__main-page:active {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 12px 12px #000000;
          box-shadow: 0px 12px 12px #000000;
  -webkit-transform: translate(0, 3.5px);
          transform: translate(0, 3.5px);
  color: #FFFFFF;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.options__return__main-page:active a {
  color: #FFFFFF;
}

.continue {
  background-color: #000000;
  color: #FFFFFF;
  letter-spacing: 3px;
  -ms-grid-column-align: center;
      justify-self: center;
  display: none;
  padding: 20px;
  border-radius: 80px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0px 0px 15px 0px;
}
@media (min-width: 541px) {
  .continue {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0px 0px 0px 10px;
  }
}
.continue:hover {
  background-color: #FFFFFF;
  color: #000000;
  -webkit-box-shadow: 0px 10px 10px #000000;
          box-shadow: 0px 10px 10px #000000;
  text-decoration: underline;
}
.continue:active {
  background-color: #000000;
  -webkit-box-shadow: 0px 12px 12px #ffffff;
          box-shadow: 0px 12px 12px #ffffff;
  -webkit-transform: translate(0, 3.5px);
          transform: translate(0, 3.5px);
  color: #FFFFFF;
  text-decoration: underline;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.options__background-color {
  background-color: #666666;
}

.show-continue {
  display: block;
}

.battle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.battle__background_trees {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.battle__background_caves {
  position: absolute;
  width: 100%;
  z-index: 2;
}
.battle__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: absolute;
  top: 50%;
  min-width: 100%;
  z-index: 3;
  -webkit-transition: all 1.7s ease 0.2s;
  transition: all 1.7s ease 0.2s;
}
.battle__item {
  position: relative;
  width: 310px;
  aspect-ratio: 1;
}
.battle__item:first-child {
  right: 225px;
}
.battle__item:last-child {
  left: 252px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.battle__item img {
  min-width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes fighting-animation-first-child {
  0% {
    left: -225px;
  }
  100% {
    left: 34vw;
  }
}

@keyframes fighting-animation-first-child {
  0% {
    left: -225px;
  }
  100% {
    left: 34vw;
  }
}
@-webkit-keyframes fighting-animation-last-child {
  0% {
    left: 252px;
  }
  100% {
    left: -34vw;
  }
}
@keyframes fighting-animation-last-child {
  0% {
    left: 252px;
  }
  100% {
    left: -34vw;
  }
}
.fighting-animation {
  -webkit-transition: display 1.7s ease 0s;
  transition: display 1.7s ease 0s;
}
.fighting-animation .battle__item:first-child {
  -webkit-animation: fighting-animation-first-child 1.7s 1 normal 0.2s forwards;
          animation: fighting-animation-first-child 1.7s 1 normal 0.2s forwards;
}
.fighting-animation .battle__item:last-child {
  -webkit-animation: fighting-animation-last-child 1.7s 1 normal 0.2s forwards;
          animation: fighting-animation-last-child 1.7s 1 normal 0.2s forwards;
}

.background_trees__row {
  position: relative;
}

.background_big {
  width: 564px;
  height: 494px;
}
.background_big img {
  width: 100%;
  height: 100%;
}
.background_small {
  position: relative;
  bottom: 25px;
  width: 449px;
  height: 390px;
}
.background_small:first-child {
  z-index: -1;
  left: 376px;
}
.background_small:last-child {
  right: 508px;
  z-index: -2;
}
.background_small img {
  width: 100%;
  height: 100%;
}
.background__layers_front {
  display: -webkit-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.background__layers_back {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.background__caves {
  position: relative;
  width: 771px;
  height: 497px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.background__caves img {
  width: 100%;
  height: 100%;
}
.background__caves:first-child {
  right: 112px;
}
.background__caves:last-child {
  position: absolute;
  right: -112px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.background_caves__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.explosion {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}
.explosion__birds {
  height: 230px;
}
.explosion__container {
  position: relative;
}

.birds__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.birds-on-explosion {
  position: relative;
  display: inline-block;
}
.birds-on-explosion img {
  width: 100%;
}
.birds-on-explosion:nth-child(1) {
  top: 100%;
  right: 56.8px;
}
.birds-on-explosion:nth-child(2) {
  top: 159px;
  right: 48.8px;
}
.birds-on-explosion:nth-child(3) {
  top: 77px;
  right: 37.8px;
}
.birds-on-explosion:nth-child(4) {
  top: 41px;
  left: 50px;
}
.birds-on-explosion:nth-child(5) {
  top: 19px;
  left: 120px;
}
.birds-on-explosion:nth-child(6) {
  top: 10px;
  left: 220px;
}
.birds-on-explosion:nth-child(7) {
  top: 10px;
  left: 370px;
}
.birds-on-explosion:nth-child(8) {
  top: 20px;
  left: 444px;
}
.birds-on-explosion:nth-child(9) {
  top: 20px;
  left: 492px;
}
.birds-on-explosion:nth-child(10) {
  top: 81px;
  left: 535px;
}

.boom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: all 0.5s ease 0.4s;
  transition: all 0.5s ease 0.4s;
}

.show_boom {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.explosion__background {
  margin: 0 auto;
  height: 100%;
}
.explosion__background_row {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.explosion__tree {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
  max-width: 50%;
  padding: 0px 0px 50% 0px;
  min-height: 100%;
  height: 100%;
}
.explosion__tree img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.explosion__tree:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.end-game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Cinzel Decorative";
  display: none;
  -webkit-transition: -webkit-transform 1s ease 0.2s;
  transition: -webkit-transform 1s ease 0.2s;
  transition: transform 1s ease 0.2s;
  transition: transform 1s ease 0.2s, -webkit-transform 1s ease 0.2s;
}

.end-game_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.end-game__container {
  max-width: 825px;
  margin: 168px auto 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (min-width: 1125px) {
  .end-game__container {
    max-width: 1125px;
  }
}
@media (max-width: 800px) {
  .end-game__container {
    margin: 178px auto 0;
  }
}

.battle__conclution, .inspirational-quote {
  -webkit-transition: -webkit-transform 1s ease 2s;
  transition: -webkit-transform 1s ease 2s;
  transition: transform 1s ease 2s;
  transition: transform 1s ease 2s, -webkit-transform 1s ease 2s;
}

.battle__conclution {
  font-size: 56px;
  letter-spacing: 12.5px;
  color: #078d00;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: -1;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  padding: 0px 15px;
}
@media (min-width: 801px) {
  .battle__results {
    position: relative;
  }
}
.battle__results__container {
  max-width: 518px;
  margin: 0 auto;
  padding: 0px 50px;
}
@media (min-width: 1125px) {
  .battle__results__container {
    max-width: 618px;
  }
}
@media (max-width: 800px) {
  .battle__results__container {
    padding: 20px 50px;
  }
}
.battle__results__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 50.0625em) {
  .battle__conclution_victory-set {
    margin: 50px 0px 0px 0px;
  }
}

.inspirational-quote {
  font-size: 27px;
  line-height: 1.4;
  letter-spacing: 1.2px;
  font-weight: 700;
  color: #078d00;
  text-align: center;
  text-transform: lowercase;
  margin: 34px auto 0px auto;
  max-width: 800px;
  position: relative;
  z-index: -1;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  padding: 0px 20px;
}

.poped__up {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.victory-set_color {
  color: #078d00;
}

.loss-set_color {
  color: #e22a29;
}

.tie-set_color {
  color: #666666;
}

.bigger-letter-spacing {
  letter-spacing: 8px;
  text-transform: uppercase;
}

.pies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pies__amount {
  font-size: 65.7px;
  font-family: "Anton";
  margin: 0px 14px 0px 0px;
}

.center {
  margin: 25px auto;
}

.streak {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 31px 0px;
}
.streak__fire-flame {
  margin: 0px 14px 0px 0px;
}
.streak__amount {
  font-size: 65.7px;
  font-family: "Anton";
  color: #e22a29;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.diactivated {
  display: none;
}

.bought-items {
  display: none;
  pointer-events: none;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0px 0px 10px 0px;
}
@media (min-width: 1125px) {
  .bought-items {
    margin: 0;
  }
}
@media (max-width: 1125px) {
  .bought-items {
    padding: 0px 30px 0px 0px;
  }
}
@media (max-width: 800px) {
  .bought-items {
    padding: 30px 50px 0px 0px;
    top: 0;
  }
  .bought-items .bought-item__image {
    margin: 0px 0px 5px 0px;
  }
  .bought-items .bought-item__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.bought-items:hover .bought-item__remaining {
  text-decoration: underline;
  color: #10dc06;
}
.bought-items:hover .not-enough {
  text-decoration: none;
  -webkit-animation: not-enough 0.5s;
          animation: not-enough 0.5s;
}
.bought-items img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bought-items__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: all;
}

.bought-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bought-item__remaining {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.remaining {
  font-size: 22px;
  font-family: "Anton";
  color: #078d00;
  text-align: center;
  display: inline-block;
  margin: 0;
}
@media (min-width: 1125px) {
  .remaining {
    font-size: 22px;
    margin: 8px 0px;
  }
}

.end-game-navigation-buttons__container {
  position: relative;
  max-width: 754px;
  margin: 0 auto;
}
@media (min-width: 1125px) {
  .end-game-navigation-buttons__container {
    max-width: 854px;
  }
}
@media (max-width: 799px) {
  .end-game-navigation-buttons__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.return__main-page, .play-again {
  text-transform: uppercase;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  font-size: 23px;
  color: #ffffff;
  width: 324px;
  height: 140px;
  padding: 4px;
  letter-spacing: 6px;
  line-height: 1.4;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 80px;
  text-align: center;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.return__main-page {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-weight: 300;
  background-color: #000000;
}
.return__main-page a {
  color: #FFFFFF;
  text-transform: lowercase;
}
.return__main-page:hover {
  background-color: #ffffff;
  color: #000000;
  text-decoration: underline;
  -webkit-box-shadow: 0px 5px 5px #000000;
          box-shadow: 0px 5px 5px #000000;
}
.return__main-page:hover a {
  color: #000000;
}
.return__main-page:active {
  background-color: #000000;
  color: #ffffff;
  -webkit-transform: translate3d(0, 3.5px, 1px);
          transform: translate3d(0, 3.5px, 1px);
  -webkit-box-shadow: 0px 8px 8px #ffffff;
          box-shadow: 0px 8px 8px #ffffff;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.return__main-page:active a {
  color: #ffffff;
}
.return__main-page_block {
  display: inline-block;
}
@media (max-width: 800px) {
  .return__main-page_block {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@-webkit-keyframes lava-background-move {
  0% {
    background: -webkit-gradient(linear, left top, right top, from(#e22a29), color-stop(90%, #f6b433));
    background: linear-gradient(to right, #e22a29 0%, #f6b433 90%);
  }
  25% {
    background: -webkit-gradient(linear, left top, right top, color-stop(18%, #e22a29), color-stop(72%, #f6b433));
    background: linear-gradient(to right, #e22a29 18%, #f6b433 72%);
  }
  50% {
    background: -webkit-gradient(linear, left top, right top, color-stop(36%, #e22a29), color-stop(54%, #f6b433));
    background: linear-gradient(to right, #e22a29 36%, #f6b433 54%);
  }
  75% {
    background: -webkit-gradient(linear, left top, right top, color-stop(36%, #f6b433), color-stop(54%, #e22a29));
    background: linear-gradient(to right, #f6b433 36%, #e22a29 54%);
  }
  87.5% {
    background: -webkit-gradient(linear, left top, right top, color-stop(18%, #f6b433), color-stop(72%, #e22a29));
    background: linear-gradient(to right, #f6b433 18%, #e22a29 72%);
  }
  100% {
    background: -webkit-gradient(linear, left top, right top, from(#f6b433), color-stop(90%, #e22a29));
    background: linear-gradient(to right, #f6b433 0%, #e22a29 90%);
  }
}

@keyframes lava-background-move {
  0% {
    background: -webkit-gradient(linear, left top, right top, from(#e22a29), color-stop(90%, #f6b433));
    background: linear-gradient(to right, #e22a29 0%, #f6b433 90%);
  }
  25% {
    background: -webkit-gradient(linear, left top, right top, color-stop(18%, #e22a29), color-stop(72%, #f6b433));
    background: linear-gradient(to right, #e22a29 18%, #f6b433 72%);
  }
  50% {
    background: -webkit-gradient(linear, left top, right top, color-stop(36%, #e22a29), color-stop(54%, #f6b433));
    background: linear-gradient(to right, #e22a29 36%, #f6b433 54%);
  }
  75% {
    background: -webkit-gradient(linear, left top, right top, color-stop(36%, #f6b433), color-stop(54%, #e22a29));
    background: linear-gradient(to right, #f6b433 36%, #e22a29 54%);
  }
  87.5% {
    background: -webkit-gradient(linear, left top, right top, color-stop(18%, #f6b433), color-stop(72%, #e22a29));
    background: linear-gradient(to right, #f6b433 18%, #e22a29 72%);
  }
  100% {
    background: -webkit-gradient(linear, left top, right top, from(#f6b433), color-stop(90%, #e22a29));
    background: linear-gradient(to right, #f6b433 0%, #e22a29 90%);
  }
}
@-webkit-keyframes not-enough {
  0% {
    color: #056a00;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    text-decoration: underline;
  }
  33.33% {
    color: #FF0000;
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
    text-decoration: underline;
  }
  66.7% {
    color: #FF0000;
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
    text-decoration: underline;
  }
  100% {
    color: #056a00;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    text-decoration: underline;
  }
}
@keyframes not-enough {
  0% {
    color: #056a00;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    text-decoration: underline;
  }
  33.33% {
    color: #FF0000;
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
    text-decoration: underline;
  }
  66.7% {
    color: #FF0000;
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
    text-decoration: underline;
  }
  100% {
    color: #056a00;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    text-decoration: underline;
  }
}
.play-again {
  background: -webkit-gradient(linear, left top, right top, from(#e22a29), color-stop(90%, #f6b433));
  background: linear-gradient(to right, #e22a29 0%, #f6b433 90%);
  -webkit-animation: lava-background-move 0.5s 1 normal 0s backwards;
          animation: lava-background-move 0.5s 1 normal 0s backwards;
}
@media (min-width: 800px) {
  .play-again_block {
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media (max-width: 800px) {
  .play-again_block {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0px 0px 20px 0px;
  }
}
.play-again:hover {
  -webkit-animation: lava-background-move 0.5s 1 normal 0s forwards;
          animation: lava-background-move 0.5s 1 normal 0s forwards;
  -webkit-box-shadow: 0px 5px 5px #ac7810;
          box-shadow: 0px 5px 5px #ac7810;
  text-decoration: underline;
}
.play-again:active {
  -webkit-box-shadow: 0px 8px 8px #ac7810;
          box-shadow: 0px 8px 8px #ac7810;
  -webkit-transform: translate3d(0, 3.5px, 1px);
          transform: translate3d(0, 3.5px, 1px);
}

.fire-lava {
  -webkit-transition: all 1s ease 0.2s;
  transition: all 1s ease 0.2s;
  min-width: 100vw;
  z-index: -1;
  -webkit-transform: translate(0, 240px);
          transform: translate(0, 240px);
}
@media (max-width: 800px) {
  .fire-lava {
    bottom: 200px;
  }
}
.fire-lava img {
  min-width: 100%;
}

.fire-lava__risen {
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

/*******************************************/
.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 105px;
  height: 105px;
  background-color: #000000;
  border-radius: 50%;
  color: #FFFFFF;
}
.circle__content p {
  font-family: "Anton";
  font-size: 52px;
  letter-spacing: 6px;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
}